/* =ELEMENTS
--------------------------------------------- */
:root {
    color-scheme: light;
}

body {
  color: var(--text-color);
  font: normal var(--base-size)/var(--leading) var(--serif);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--text-color);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
  margin: 0;
}

p, ul, ol, blockquote {
  margin: 0 0 1rlh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.375rem;
  margin-bottom: 1rlh;
  font-style: italic;
}

h3 {
  font-size: 1.25rem;
}

[role="banner"] {
  text-align: center;
  padding: 1rlh 5% 0.5rlh;

  h1 {
    line-height: 1.4;
  }
}

[role="contentinfo"] {
  text-align: center;
  padding: 2rlh 5% 0;

  h2 {
    font-style: normal;
  }
}
